{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt|date("m/d/Y") }} à {{ article.createdAt|date("h:i") }} dans la catégorie {{ article.category.title }}</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        {{ article.content|raw }}
    </div>
</article>
<section id="commentaires">
<h2>{{ article_true.comments | length }} Commentaire{% if (article_true.comments | length) > 1 %}s{% endif %}: </h2>
    {% for comment in article.comments %}
        {% if comment.mode %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                    <h5>{{ comment.author }}</h5> (<small>{{ comment.createdAt|date("d/m/Y à H:i") }}</small>)
                    </div>
                    <div class="col">
                    {{ comment.content|raw }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>
    {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {attr: {placeholder: "Votre nom"} }) }}
        {{ form_row(commentForm.content, {attr: {placeholder: "Votre commentaire"} }) }}
        <button type="submit" class="btn btn-success mt-2">Commenter</button>
    {{form_end(commentForm) }}

{% endblock %}